.navbar {
    background-color: #37456f42 !important;
  }
  .navbar .navbar-brand {
    color: #373f6f !important;
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  .nav-link {
    font-size: 1.2rem;
  }
  
  .navbar h6 {
    margin-top: 0px;
    margin-right: 20px;
  } 
  
.btn{
  margin-top: 7px;
}